<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="karp_system" params="name prefix use_fake_hardware:=^|false fake_sensor_commands:=^|false">

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>fake_components/GenericSystem</plugin>
          <param name="fake_sensor_commands">${fake_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware}">
          <plugin>odrive_hardware_interface/ODriveHardwareInterface</plugin>
        </xacro:unless>
      </hardware>

      <joint name="${prefix}left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <param name="serial_number">206230715432</param>
        <param name="axis">0</param>
        <param name="enable_watchdog">1</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>
      <joint name="${prefix}right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <param name="serial_number">206230715432</param>
        <param name="axis">1</param>
        <param name="enable_watchdog">1</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
